.item {
  padding: 0.2rem;
  grid-template-columns: 1fr 4fr;
  display: grid;
}

.item:nth-child(even){
  background-color: #e6e6e0;
}

.no_comments {
  padding: 0 2.5%;
}

.upvote_act {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #999999;
  cursor: pointer;
  justify-self: center;
}

.upvote_act:hover {
  border-bottom: 10px solid #ee6f2e;
}

.link, .author, .created, .hide_act, .copy {
  font-size: 13px;
  color: #8e8e8d;
}

.link {
  text-decoration: none;
}

.author, .hide_act {
  color: black;
}

.hide_act {
  cursor: pointer;
}

.hide_act:hover {
  color: #ee7136;;
}

.chocolate {
  color: #aa5c2c;
}

.orange {
  color: #ee7136;
}

.left_item {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  text-align: center;
}

.more_btn {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.more_btn a {
  text-decoration: none;
  margin: 14px;
  justify-self: right;
  color: #ee6f2e;
}